body{
    background: rgb(30, 37, 43);
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1224px;
    margin: 0 auto;
}
/* Шапка */
.header{
    padding-top: 26px;
    padding-bottom: 58px;
}

.header-wrap{
    display: flex;
    align-items: center;
}

.header-logo{
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    gap: 8px;
    margin-right: auto;
}

.nav-list-item{
    display: flex;
}

.nav-list-item-second::after{
    content: "";
    width: 18px;
    height: 18px;
    margin-top: 10px;
    margin-left: 3px;
    display: inline-block;
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
}

/* Навігація */
.nav-list{
    display: flex;
    gap: 45px;
}

.nav-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);     
}

/* Авторизація */
.regist-list{
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.regist-list-btn{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    padding: 12px 28px;
}

.first-btn{
    color:rgba(255, 255, 255, 0.78);
    background: none;
    width: 118px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
}

.second-btn{
    color:rgba(255, 255, 255, 0.78);
    width: 118px;
    height: 48px;
    border-style: none;
    border-radius: 8px;
    background: transparent;
}

.second-btn:hover{
    color: rgba(253, 245, 255, 1);
    background-color: rgba(255, 110, 48, 1);
}
/* Секція герой */
.section-hero{
    padding-top: 104px;
    background-image: url('../images/section-hero-aside-wrap.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.section-hero-title{
    font-family: Poppins;
    font-size: 50px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 0em;
    max-width: 600px;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}

.section-hero-dot{
    color: rgba(255, 110, 48, 1);
}

.section-hero-desc{
    max-width: 487px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
    margin-bottom: 60px;
}

.section-hero-form{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 497.66px;
    height: 64px;
    border-radius: 15px;
    border: 1.5px solid rgba(50,58,63,1.00);
    background: rgba(40, 48, 54, 1);
    padding: 8px 11px 8px 18px;
    text-align: center;
}

.section-hero-form::before{
    width: 24.08px;
    height: 24px;
    content: "";
    display: inline-block;
    background-image: url('../images/searchsymbol.png');
    background-repeat: no-repeat;
}

.section-hero-wrap-text::placeholder{
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 0.38);
}

.section-hero-wrap-text{
    width: 191px;
    height: 21px;
    border: 1.5px;
    background: transparent;
}

.section-hero-wrap-btn{
    width: 130px;
    height: 48px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 0.78);
    margin-left: auto;
    background: transparent;
}

.section-hero-wrap-btn:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}

.section-hero-list{
    display: flex;
    margin-top: 110px;
}
/* Секція Інструменти */
.section-tools{
    padding-top: 200px;
    padding-bottom: 200px;
}

.section-tools-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
}

.section-tools-desc{
    max-width: 427px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    margin: 0 auto;
}

.section-tools-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 24px;
    row-gap: 100px;
    margin-top: 110px;
}

.section-tools-list-item{
    max-width: 392px;
    height: 294px;
    border-radius: 15px;
}

.section-tools-list-wrap{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.section-tools-list-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.78);
}

.section-tools-list-plans{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(255, 165, 55, 0.55);
}

.section-tools-list-desc{
    max-width: 326px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}

.section-tools-share-list-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.section-tools-share-list{
    display: flex;
    gap: 12px;
}

.section-tools-share-list-btn{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
    background: none;
    border-style: none;
}

.second-title{
    color: rgba(255, 255, 255, 0.9);
}

.second-plans{
    color: rgba(255, 165, 55, 1);
}

.second-desc{
    color: rgba(255, 255, 255, 0.78);
}

.second-share-list-btn{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}

.section-tools-btn{
    width: 184px;
    height: 64px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 110, 48, 1);
    margin: 0 auto;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background:none;
    margin-top: 100px;
}
/* Бренди */
.section-brands{
    padding-top: 55px;
    padding-bottom: 55px;
    background-image: url(../images/section-brands-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.section-brands-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 55px;
}

.section-brands-list{
    display: flex;
    gap: 107px;
    padding-right: 82px;
    padding-left: 82px;
}
/* Нове */
.section-recent{
    padding-top: 200px;
    padding-bottom: 200px;
}

.section-recent-box{
    display: flex;
    gap: 197px;
}

.section-recent-info{
    width: 427px;
    height: 300px;
}

.section-recent-title{
    max-width: 401px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
}

.section-recent-desc{
    margin-bottom: 60px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    max-width: 427px;
    color: rgba(255, 255, 255, 0.55);
}

.section-recent-btn{
    width: 198px;
    height: 58px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 0.78);
    background: transparent;
}

.section-recent-btn:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}

.section-recent-list{
    max-width: 600px;
    height: 638px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 24px;
}

.section-recent-list-item{
    max-width: 288px;
    height: 284px;
    border-radius: 15px;
}

.section-recent-list-wrap{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.section-recent-list-title{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.78);
}

.section-recent-list-plans{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: rgba(255, 165, 55, 0.55);
}

.section-recent-list-desc{
    max-width: 245px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}

.section-recent-share-list-btn{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
    background: none;
}

.section-recent-share-list-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.section-recent-share-list{
    display: flex;
    gap: 12px;
}

.recent-list-title-second{
    color: rgba(255, 255, 255, 0.9);
}

.recent-list-plans-second{
    color: rgba(255, 165, 55, 1);
}

.recent-list-desc-second{
    color: rgba(255, 255, 255, 0.78);
}

.recent-share-list-btn-second{
    width: 106px;
    height: 42px;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}
/* Команда */
.section-team{
    padding-top: 200px;
    padding-bottom: 250px;
}

.sign-before{
    padding: 38px 34px;
    background-image: url(../images/sign-before.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(30, 37, 43);
    margin-right: 108px;
    
}

.sign-after{
    padding: 38px 34px;
    background-image: url("../images/sign-after.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color:rgb(30, 37, 43);
    margin-left: 108px;
}

.section-team-content-wrap{
    display: flex;
    justify-content: center;
}

.section-team-wrap-person-title{
    font-family: Poppins;
    font-size: 26px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0.015em;
    color: rgba(255, 253, 253, 0.78);
    margin-bottom: 2px;
}

.section-team-wrap-bg{
    width: 265px;
    height: 91px;
    border-radius: 8px;
    border: 1px;
}

.section-team-wrap-desc{
    background-image: url(../images/“.png);
    background-position: 7% 3%;
    background-repeat: no-repeat;
}

.section-team-wrap-bg{
    background-image: url(../images/ronald-richards.png);
    width: 399px;
    height: 492px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.section-team-wrap-person{
    background-image: url(../images/Rectangle\ 327.png);
    background-repeat: no-repeat;
    padding: 10px 23px 16px 23px;
}

.section-team-wrap-desc{
    width: 393px;
    height: 180px;
}

.section-team-wrap-person-desc{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 253, 253, 0.55);
    margin-bottom: 16px;
}

.section-team-desc{
    font-size: 14px;
    font-weight: 400;
    line-height: 2.1;
    letter-spacing: 0.015em;
    text-align: left;
    font-family: Roboto;
    max-width: 393px;
    padding: 55px 0px 46px 75px;
    min-width: 469px;
    color: rgba(255, 255, 255, 0.78);
}

.change-list{
    display: flex;
    gap: 18px;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 1px;
}

.change-list-second:hover{
    background-color: rgba(255, 110, 48, 1);
}

.change-list-item{
    width: 44px;
    height: 8px;
    border-radius: 4px;
    background-color:rgba(40, 48, 54, 1);
}
/* Довідка */
.section-reference{
    padding-top: 250px;
    padding-bottom: 240px;
}

.section-reference-title{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 500;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
}

.section-reference-desc{
    max-width: 427px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 0.55);
    margin: 0 auto;
}

.section-reference-form{
    max-width: 549px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(40, 48, 54, 1);
    border: 1.5px solid rgba(50,58,63,1.00);
    border-radius: 15px;
    padding: 8px 12px 8px 24px;
    margin: 0 auto;
    margin-top: 60px;
}

.section-reference-wrap-text::placeholder{
    color: rgba(255, 255, 255, 0.38);
    width: 380px;
    height: 48px;
}

.section-reference-wrap-text{
    border: 1.5px;
    background: transparent;
}


.section-reference-wrap-btn{
    width: 130px;
    height: 48px;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color:rgba(255, 255, 255, 0.78);
    background: transparent;
}

.section-reference-wrap-btn:hover{
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 110, 48, 1);
}
/* Підвал */
footer{
    padding-top: 70px;
    padding-bottom: 100px;
    border-top:0.5px solid rgba(255, 255, 255, 0.15);
}

.footer-logo{
    display: flex;
    gap: 8px;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25px;
}

.footer-wrap{
    display: flex;
}

.footer-wrap-about-copy{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
}

.footer-wrap-about-desc{
    margin-top: 21px;
    max-width: 260px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}

.footer-wrap-unified{
    display: flex;
    gap: 115px;
    margin-left: auto;
}

.footer-wrap-contact-title{
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
}

.address-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.address-list-link{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}

.footer-wrap-categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-wrap-categories-title{
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
}

.footer-wrap-categories-desc{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}

.footer-wrap-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-wrap-info-title{
    margin-bottom: 20px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.9);
}

.footer-wrap-info-desc{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 0.55);
}